<div class="container">
	<div class="row">
		<div class="well">
			
			
			<h2 class="page-header">
				Add some news
			</h2><!-- TODO: Think this "container" div and all other bits should live in template - like application.html.erb -->
			
			
				<%= render 'form' %><%= link_to 'Delete News', @news, confirm: 'Are you sure?', method: :delete %>
			
		</div>
	</div>
</div>
