
<div class="container">
	<div class="row reduce">	
		<div class="span16 columns">
			<div class="well">
				<div class="head-img">
					
					<div class="home-head span6">
						<h1>News</h1>
						<h4>Latest from the wicket</h4>
					</div>
					
				</div>
			</div>					
		</div>
	</div>
</div>


<div class="container">
	<div class="row reduce">	
		<div class="span16 columns">
			<div class="well">	
				<% @news.each do |news| %>

				  <h3> <%= link_to news.title, news %> </h3>
				  <p> <%= news.description %></p>

				<% end %>
			</div>			
		</div>
	</div>
</div>







				
	