<div class="container top">
	

	<div class="row">
		
		<div class="well">
			<!-- <div class="row">
							<div id="news_head" class="home-head span6">
								<h1>News</h1>
								<h4>Add the latest offerings from ECC</h4>
							</div>
						</div> -->
			
			<div class="page-header">
				<h1>Add News</h1>
			</div>
			<div class="row">
				
				<%= render 'form' %>
				</div>
				
		</div>
	</div>
</div>




