<div class="hero-unit">
  <div class="container"><h1>  <%= @news.title %> </h1> </div>
</div>


<div class="container">
	<div class="span16 columns">
		<div class="well">
			<%= @news.description %>
		</div>
		
	</div>
	
</div>


