<div class="hero-unit">
  <div class="container"><h1>  <%= @news.title %>  <%= link_to image_tag("write2_36.png", :border=>0), :action => 'edit', :controller => 'news' %></h1></div>
</div>

<div class="container">
	<div class="span12 columns">
		<div class="well">
			<%= simple_format(@news.description) %>
		</div>
	</div>
</div>


