<h1>Listing venues</h1>

<table>
  <tr>
    <th>Venue lat</th>
    <th>Venue lng</th>
    <th>Conditions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.venue_lat %></td>
    <td><%= venue.venue_lng %></td>
    <td><%= venue.conditions %></td>
    <td><%= link_to 'Show', venue %></td>
  </tr>
<% end %>
</table>
