<h1>Listing PLayers</h1>

<div class="top-padding">
	
</div>

<div class="container">
<ul class="thumbnails">
<% @players.each do |player| %>	
<li class="span3">
<div class="thumbnail">
            <%= image_tag player.avatar.url(:medium) %>
            <div class="caption">
              <h5><%= link_to player.first_name + " " + player.last_name, player.url %></h5>
              <p><%= player.description %></p>
              
            </div>
          </div>

</li>
<% end %>
</ul>

</div>