<div id='chart'>
  <div style="float:left; padding: 20px 0 ">0</div> 
  <div style="float:right; padding: 20px 0 ">End</div>
  <div style='width: <%= 10 %>%; height: 20px; background-color: #684781'></div> 
  
</div>