<div class="hero-unit">
	<h1><%= @match.match_date.to_formatted_s(:short) %> , <%=@match.our_team.name%> vs <%= @match.opposition.name%></h1>
</div>

<div class="container">
  <div class="row">
    <div class="span6 columns">
    
      <div class="well">
        <h2 class="page-header">Previous Results</h2>    
        <% @match.opposition.matches.each do |prev_match|%>
					<p><%= prev_match.result %></p>
				<% end %>

      </div>
    
      <div class="well">
	      <h2 class="page-header">Winning Scores</h2>
	  		
      </div>
    </div>
  
    <div class="span10 columns">
      <h2 class="page-header">How to get there</h2>
	  		   
      <br/>

      <h2 class="page-header">Opposition Stats</h2>
	    
    </div>
  </div>  
</div>
