<div class="container"> 
  <div class="row">
    <div class="span12 columns">

      <div class="well">
        <h2 class="page-header">Add some new intelligence</h2>
  <!-- TODO: Think this "container" div and all other bits should live in template - like application.html.erb -->

  <%= render 'form' %>

  <%= link_to 'Back', root_path %>

</div></div></div></div>