<div class="container"> 
  <div class="row">
    <div class="span6 columns">

      <div class="well">
        <h2 class="page-header">Look at all the intelligence</h2>
  <!-- TODO: Think this "container" div and all other bits should live in template - like application.html.erb -->

  <h1>Add new match result</h1>

  <%= render 'form' %>

  <%= link_to 'Back', root_path %>

</div></div></div></div>