<div class="container">
  <div class="row">
    <div class="span16">
      <h2>This is what the season looks like on <%= Date.today %></h2> <!-- TODO  Does the Date need to be lambda? -->
    </div>
  </div>
  <div class="row">
    <div class="span16 well">
      <h3>Another</h3>
    </div>
  </div>
</div>