<div class="container">
  <div class="row">
    <div class="span16">
      <h2>This is what the season looks like on <%= Date.today %></h2> <!-- TODO  Does the Date need to be lambda? -->
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <% @results.each do |result|%>
        <%= render :partial => 'result', :locals => {:local_result => result} %>
      <% end %>         
    </div> 
    <div class="span4">
      <h2>Season to-date</h2>
    </div>
  </div>
</div>