// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #528036; }

.hero-unit {
	margin-top: 10px;
	background-color: white;
}
.well {
background-color: white;
}

.reduce {
	margin-bottom: 0px;
	}
	
.head-img {
	background: url(elsworth_nofilter.png);
	background-repeat:no-repeat;
	width: 900px;
	height: 408px;
	}
	
.home-head {
	position:relative;
	left:-60px;
	top: 300px;
	width: 300px;
	background-color: #222;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);	
}




.home-head h1{
	color: white;
	margin-top: 9px;
	margin-left: 9px;
	margin-bottom: 2px;
}

.home-head h4{
	color: white;
	margin-left: 9px;
	margin-bottom: 9px;
}
	
body {
  background: url(elsworthbk.png);
  background-repeat:no-repeat; 
	background-color: #EEEDED; 
	padding-bottom: 1000px;
}
	
