// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1, h2, h3, h4, body {
	
	/*	font-family: 'Poly', serif;
			font-weight: normal;*/
}

a {
  color: #528036; }

.hero-unit {
	margin-top: 10px;
	background-color: white;
}

.row {
	
	margin-bottom: 0px;
}

.bk {
	background-color: white;
	margin-left: 0px;
	padding-left: 0px;
	
}

.well {
background-color: white;
margin-bottom: 20px;
padding: 19px;
border: 0px solid #FFF;
min-height: 20px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.reduce {
	margin-bottom: 0px;
	}
	
	
.title-strip {
	background-color: #222;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);	
}




.title-strip h1{
	color: white;
	margin-top: 9px;
	margin-left: 9px;
	margin-bottom: 2px;
}

.title-strip h4{
	color: white;
	margin-left: 9px;
	margin-bottom: 9px;
}
	
body {
  background: url(graphy.png);
/*  background-repeat:no-repeat; */
	background-color: #FFF; 
	padding-bottom: 1000px;
}

.top {
	
	padding-top: 60px;
}

.first {
	background-color: #468847;
	
}
	
