// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
  height: 300px;
}

#news_head.home-head {
	position:relative;
	left:-60px;
	top: 0px;
}

.btn_new {
	margin-left: 150px;
}
