<!DOCTYPE html>
<html>
<head>
  <title>Elsworth CC</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %> 	
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="navbar">
	    <div class="navbar-inner">
	      <div class="container" style="width: auto;">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" href="/">Elsworth C.C.</a>
	        <div class="nav-collapse">
	          <ul class="nav">
	            <li class="active"><a href="/">Home</a></li>
							<li><a href="/players">Players</a></li>
							<li><a href="/matches">Matches</a></li>
		          <li><a href="/news">News</a></li>
	           
	          </ul>
	          
	        </div><!-- /.nav-collapse -->
	      </div>
	    </div><!-- /navbar-inner -->
	  </div>
	
	


<%= yield %>

</body>
</html>